USE [master]
GO
/****** Object:  Database [QLChuyenNganh]    Script Date: 11/09/2017 19:36:19 ******/
CREATE DATABASE [QLChuyenNganh] ON  PRIMARY 
( NAME = N'QLChuyenNganh', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QLChuyenNganh.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLChuyenNganh_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QLChuyenNganh_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLChuyenNganh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLChuyenNganh]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 11/09/2017 19:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [nvarchar](10) NOT NULL,
	[TENKHOA] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY NONCLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BACDAOTAO]    Script Date: 11/09/2017 19:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BACDAOTAO](
	[MADT] [nvarchar](10) NOT NULL,
	[TENDT] [nvarchar](50) NULL,
 CONSTRAINT [PK_BACDAOTAO] PRIMARY KEY NONCLUSTERED 
(
	[MADT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CANBO]    Script Date: 11/09/2017 19:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANBO](
	[MACB] [nvarchar](10) NOT NULL,
	[MAKHOA] [nvarchar](10) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](50) NULL,
	[CHUCVU] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[MATKHAU] [nvarchar](50) NULL,
	[QUYENHAN] [nvarchar](50) NULL,
 CONSTRAINT [PK_CANBO] PRIMARY KEY NONCLUSTERED 
(
	[MACB] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [QUANLY_FK] ON [dbo].[CANBO] 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGANH]    Script Date: 11/09/2017 19:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGANH](
	[MANGANH] [nvarchar](10) NOT NULL,
	[MAKHOA] [nvarchar](10) NOT NULL,
	[TENNGANH] [nvarchar](50) NULL,
 CONSTRAINT [PK_NGANH] PRIMARY KEY NONCLUSTERED 
(
	[MANGANH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GOM_FK] ON [dbo].[NGANH] 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUYENNGANH]    Script Date: 11/09/2017 19:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENNGANH](
	[MACN] [nvarchar](10) NOT NULL,
	[MANGANH] [nvarchar](10) NOT NULL,
	[TENCN] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHUYENNGANH] PRIMARY KEY NONCLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [CO1_FK] ON [dbo].[CHUYENNGANH] 
(
	[MANGANH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 11/09/2017 19:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nvarchar](10) NOT NULL,
	[MANGANH] [nvarchar](10) NOT NULL,
	[MADT] [nvarchar](10) NOT NULL,
	[TENLOP] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY NONCLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [CO_FK] ON [dbo].[LOP] 
(
	[MANGANH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [THUOCBDT_FK] ON [dbo].[LOP] 
(
	[MADT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 11/09/2017 19:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MSSV] [nvarchar](10) NOT NULL,
	[MALOP] [nvarchar](10) NOT NULL,
	[MACN] [nvarchar](10) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](50) NULL,
	[CMND] [numeric](20, 0) NULL,
	[NIENKHOA] [numeric](10, 0) NULL,
	[DIACHI] [nvarchar](50) NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY NONCLUSTERED 
(
	[MSSV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [COSV_FK] ON [dbo].[SINHVIEN] 
(
	[MALOP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [THUOC_FK] ON [dbo].[SINHVIEN] 
(
	[MACN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 11/09/2017 19:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [nvarchar](10) NOT NULL,
	[MACN] [nvarchar](10) NOT NULL,
	[TENMH] [nvarchar](50) NULL,
	[SOTC] [int] NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY NONCLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [BAOGOM_FK] ON [dbo].[MONHOC] 
(
	[MACN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOC]    Script Date: 11/09/2017 19:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOC](
	[MSSV] [nvarchar](10) NOT NULL,
	[MAMH] [nvarchar](10) NOT NULL,
	[DIEMCC] [int] NULL,
	[DIEMGK] [int] NULL,
	[DIEMCK] [int] NULL,
	[DIEMHE10] [int] NULL,
	[DIEMHE4] [int] NULL,
	[DIEMCHU] [nvarchar](50) NULL,
	[LANHOC] [int] NULL,
 CONSTRAINT [PK_HOC] PRIMARY KEY NONCLUSTERED 
(
	[MSSV] ASC,
	[MAMH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [HOC_FK] ON [dbo].[HOC] 
(
	[MAMH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [HOC2_FK] ON [dbo].[HOC] 
(
	[MSSV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_CANBO_QUANLY_KHOA]    Script Date: 11/09/2017 19:36:22 ******/
ALTER TABLE [dbo].[CANBO]  WITH CHECK ADD  CONSTRAINT [FK_CANBO_QUANLY_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[CANBO] CHECK CONSTRAINT [FK_CANBO_QUANLY_KHOA]
GO
/****** Object:  ForeignKey [FK_NGANH_GOM_KHOA]    Script Date: 11/09/2017 19:36:22 ******/
ALTER TABLE [dbo].[NGANH]  WITH CHECK ADD  CONSTRAINT [FK_NGANH_GOM_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[NGANH] CHECK CONSTRAINT [FK_NGANH_GOM_KHOA]
GO
/****** Object:  ForeignKey [FK_CHUYENNG_CO1_NGANH]    Script Date: 11/09/2017 19:36:22 ******/
ALTER TABLE [dbo].[CHUYENNGANH]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENNG_CO1_NGANH] FOREIGN KEY([MANGANH])
REFERENCES [dbo].[NGANH] ([MANGANH])
GO
ALTER TABLE [dbo].[CHUYENNGANH] CHECK CONSTRAINT [FK_CHUYENNG_CO1_NGANH]
GO
/****** Object:  ForeignKey [FK_LOP_CO_NGANH]    Script Date: 11/09/2017 19:36:22 ******/
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_CO_NGANH] FOREIGN KEY([MANGANH])
REFERENCES [dbo].[NGANH] ([MANGANH])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_CO_NGANH]
GO
/****** Object:  ForeignKey [FK_LOP_THUOCBDT_BACDAOTA]    Script Date: 11/09/2017 19:36:22 ******/
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_THUOCBDT_BACDAOTA] FOREIGN KEY([MADT])
REFERENCES [dbo].[BACDAOTAO] ([MADT])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_THUOCBDT_BACDAOTA]
GO
/****** Object:  ForeignKey [FK_SINHVIEN_COSV_LOP]    Script Date: 11/09/2017 19:36:22 ******/
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_COSV_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_COSV_LOP]
GO
/****** Object:  ForeignKey [FK_SINHVIEN_THUOC_CHUYENNG]    Script Date: 11/09/2017 19:36:22 ******/
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_THUOC_CHUYENNG] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHUYENNGANH] ([MACN])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_THUOC_CHUYENNG]
GO
/****** Object:  ForeignKey [FK_MONHOC_BAOGOM_CHUYENNG]    Script Date: 11/09/2017 19:36:22 ******/
ALTER TABLE [dbo].[MONHOC]  WITH CHECK ADD  CONSTRAINT [FK_MONHOC_BAOGOM_CHUYENNG] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHUYENNGANH] ([MACN])
GO
ALTER TABLE [dbo].[MONHOC] CHECK CONSTRAINT [FK_MONHOC_BAOGOM_CHUYENNG]
GO
/****** Object:  ForeignKey [FK_HOC_HOC_MONHOC]    Script Date: 11/09/2017 19:36:22 ******/
ALTER TABLE [dbo].[HOC]  WITH CHECK ADD  CONSTRAINT [FK_HOC_HOC_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[HOC] CHECK CONSTRAINT [FK_HOC_HOC_MONHOC]
GO
/****** Object:  ForeignKey [FK_HOC_HOC2_SINHVIEN]    Script Date: 11/09/2017 19:36:22 ******/
ALTER TABLE [dbo].[HOC]  WITH CHECK ADD  CONSTRAINT [FK_HOC_HOC2_SINHVIEN] FOREIGN KEY([MSSV])
REFERENCES [dbo].[SINHVIEN] ([MSSV])
GO
ALTER TABLE [dbo].[HOC] CHECK CONSTRAINT [FK_HOC_HOC2_SINHVIEN]
GO
